/* Wp-blocks
    Override default WP block styling.
--------------------------------------------- */

// Control width of blocks inside page content,
// avoiding conflicts with header or footer.
.hentry {
	.wp-block-image,
	.wp-block-columns {
		max-width: $max-image-width;
		margin-left: auto;
		margin-right: auto;
	}
}

.wp-block-image {
	text-align: center;

	.wp-element-caption {
		font-size: var(--wp--preset--font-size--small);
		opacity: $text-opacity;
	}
}

.wp-block-gallery .blocks-gallery-grid {
	margin-bottom: 0;
	padding: 0;
}

.wp-block-embed {
	text-align: center;
}

.wp-block-pullquote {
	padding-bottom: 1em; 
}