/* Layout. 
    Generic layouts applicable to most pages.

    1. Page key components.
    2. Element flow.
--------------------------------------------- */

/* 1. Page key components.
--------------------------------------------- */

// The key components of each page,
// let's keep these page margins unified.
.site-header,
.secondary-nav,
.table-of-contents,
.site-main,
.site-footer > div {
    padding-left: $safe-spacing; // fallback.
    padding-right: $safe-spacing; // fallback.

    padding-left: $clamp-spacing;
    padding-right: $clamp-spacing;
}


.site-main {
	//max-width: 50rem;
	margin: 0 auto;
    color: var(--text-colour);
    position: relative; // Needed as an anchor for the blackout overlay.
}

.page-content,
.entry-content,
.entry-summary,
article.hentry {
    margin-top: $safe-spacing;
}


/* 2. Element flow.
--------------------------------------------- */

.entry-content {

    h2 + h3 {
        margin-top: 0;
    }

    //An image or h2 followed by a quote.
    figure + .wp-block-pullquote,
    h2 + .wp-block-pullquote,
    h3 + .wp-block-pullquote {
        padding-top: 1rem;
    }
}