/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Base
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
	- Carbon intensity switcher
# Plugins
  - Jetpack infinite scroll
	- Tippy
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/






/* Forms
--------------------------------------------- */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	line-height: 1;
	padding: 0.6em 1em 0.4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active,
button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}



/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/


.site-header {
	border-bottom: 1px solid gray;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.logo {
	display: none;
}
@media screen and (min-width: 25em) {
	.logo {
		display: flex;
	}
}

.logo, .site-branding, .site-credit {
	height: 4em;
}

.logo img {
	min-width: 40px;
}

.site-branding {
	padding-right: 0.75em;
}
@media screen and (min-width: 25em) {
	.site-branding {
		padding-left: 0.5em;
	}
}
@media screen and (min-width: 54em) {

	.site-branding {
		padding-right: 2.4em;
	}
}

.site-title {
	font-size: 2rem;
	font-weight: bold;
	margin: 0;
	text-transform: lowercase;
	height: 100%;
	display: flex;
	align-items: center;
}

.site-title a {
	color: #212121;
	text-decoration: none;
}

.site-description {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

.main-navigation {
	align-self: center;
	height: auto;
}
.menu-main-navigation-container {
	height: 100%;
}

.main-navigation li {
	position: relative;
	text-transform: uppercase;
}
@media screen and (min-width: 26em) {
	.main-navigation li {
		border-left: 1px solid gray;
	}
	.main-navigation li:first-child {
		border-left: 1px solid gray;
	}
	.menu li:last-child {
		border-right: 1px solid gray;
	}
}
@media screen and (min-width: 37.5em) {
	.main-navigation li {
		font-size: 1em;
	}
}

.main-navigation li a {
	color: #212121;
	padding: 1em;
	margin-top: 4px;
}
@media screen and (min-width: 25em) {
	.main-navigation li a {
		padding: 1.6em;
	}
}
@media screen and (min-width: 54em) {
	.main-navigation li a {
		padding: 2.4em;
	}
}

/* .main-navigation li:first-child a {
	padding-left: 0.75em;
} */

.site-credit {
	display: none;
}
@media screen and (min-width: 33em) {
	.site-credit {
		display: block;
		flex: 1 0 0;
	}
}
.site-credit__link {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.site-credit__image {
	max-width: 90px;
}

.nav-contents p {
	margin: 0;
}

.nav-contents p, .entry-content a.more-link {
	text-transform: uppercase;
}

.entry-content figcaption {
	margin: 0 auto 1.5em;
	max-width: 35em;
	text-align: center;
}

div.carbon-alt {
	font-style: italic;
	line-height: 1.3;
	position: absolute;
    padding: 5%;
	top: 40%;
	transform: translateY(-50%);
	width: 100%;
	z-index: -1;
}
@media screen and (min-width: 37.5em) {
	body:not(.page-id-675) div.carbon-alt {
		width: 80%;
		left: 10%;
	}

	body:not(.page-id-675) div.carbon-alt:not(figure.wp-block-gallery *) {
		font-size: 2em;
	}
}

/* Hide all images by default. How they appear depends on carbon intensity.
 * (Except for specifically whitelisted images and placeholders.) */
.entry-content figure.wp-block-image:not(.no-carbon) img:not(.branch-placeholder-image),
.entry-content .wp-block-image figure:not(.no-carbon) img:not(.branch-placeholder-image) {
	display: none !important;
}

.entry-content a.more-link {
	display: block;
	text-align: center;
	text-decoration: none;
	position: relative;
	padding: 1em 0;
}

.entry-content a.more-link::before {
	content: "";
	position: absolute;
	width: 8%;
	height: 1px;
	bottom: 3.5em;
	left: 46%;
	border-bottom: 2px solid;
}

.nav-contents a {
	color: #212121;
	text-decoration: none;
}

.nav-contents p img {
	margin-right: .5em;
	margin-bottom: -.1em;
}

.entry-content h2, .entry-content h3, .entry-content h5 {
	margin: 3rem auto 1.5rem;
	position: relative;
}

.entry-content h4 {
	margin: 0 auto 0.8em;
}

.entry-content h2 a {
	text-decoration: none;
}

.hentry {
	border-bottom: 1px solid gray;
	padding-bottom: 5em;
}

.entry-title a {
	text-decoration: none;
}



.entry-content blockquote p {
	font-style: italic;
	line-height: 1.3;
	padding: 0;
}

.entry-content blockquote cite {
	font-style: normal;
}

.entry-content blockquote {
	border-left-color: var(--hl-colour);
}



.wp-block-image {
	text-align: center;
}
.wp-block-gallery .blocks-gallery-grid {
	margin-bottom: 0;
	padding: 0;
}

.wp-block-embed {
	text-align: center;
}

.wp-block-pullquote {
	padding-bottom: 1em;
}

.site-info {
	text-align: center;
	margin-top: 2em;
	font-size: 0.9em;
}
@media screen and (min-width: 37.5em) {
	.site-info {
		margin-top: 1em;
	}
}

.table-of-contents {
	margin-top: -1px;
	padding: 0 0.75em;
	position: absolute;
	background-color: var(--bg-colour);
	transform: translateX(-100%);
	transition: transform 0.5s;
	z-index: 2;
}
@media screen and (min-width: 37.5em) {
	.table-of-contents { 
		padding-left: 1.6em;
		padding-right: 1.6em;
	}
}
@media screen and (min-width: 54em) {
	.table-of-contents {
		padding-left: 2.4em;
		padding-right: 2.4em;
	}
}

.table-of-contents-active {
	transform: translateX(0);
}

.table-of-contents a {
	color: var(--hl-colour);
	text-decoration: none;
}

.blackout {
	background-color: black;
	left: -100%;
	opacity: 0%;
	position: absolute;
	width: 100%;
	height: 100%;
	transition: opacity 0.5s;
	z-index: 1;
}

.blackout-active {
	display: block;
	left: 0;
	opacity: 25%;
}

.blackout-fading {
	opacity: 0%;
}

.carbon-intensity {
	display: none;
}

@media screen and (min-width: 37.5em) {
	.carbon-intensity {
		display: block;
		text-align: right;
		text-transform: uppercase;
		position: fixed;
		right: 0;
		margin: 1em 0 0.75em 0;
		margin-right: 0;
		margin-bottom: 0;
		transform: rotate(270deg);
		transform-origin: 100% 100%;
		top: 19em;
	}
}

.carbon-intensity .energy {
	padding-right: .5em;
}

.carbon-intensity .energy svg {
	padding-top: .2em;
}

.carbon-intensity .energy svg path {
	fill: var(--hl-colour);
}


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Navigation
--------------------------------------------- */
.main-navigation {
	display: block;
	/* width: 100%; */
}
/* @media screen and (min-width: 37.5em) {

	.main-navigation {
		order: 3;
		width: auto;
	}
} */

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}
}

.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.post,
.page {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
	margin: 0 0 1.5em;
}

.widget select {
	max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/* Carbon intensity switcher
--------------------------------------------- */
/* Select box before JS kicks in, to avoid unstyled content and for progressive enhancement. */
select.select-list__linked {
	border: none;
	background-color: transparent;
	text-transform: uppercase;
	font-family: 'Rubik Bold';
	text-align: right;
}


.carbon-switcher {
	flex: 1 0 0;
	width: 100%;
	padding-left: 0.75em;
	text-transform: uppercase;
	text-align: right;
	display: flex;
	align-items: end;
	justify-content: flex-end;
	flex-direction: column;
	line-height: 1.2;
}

@media screen and (min-width: 33em) {
	.carbon-switcher {
		flex-direction: row;
	}
}

.carbon-switcher > span {
	width: 100%;
}
.carbon-switcher span.tooltip {
	padding-right: 0.25em;
	display: inline-block;
	background-color: #BECDC7;
	width: 1.2em;
	height: 1.2em;
	border-radius: 50%;
}

@media screen and (max-width: 23em) {
	.carbon-switcher span.hide-on-mobile {
		display: none;
	}
}

/* Alter selectr's default width of 100% as it isn't necessary and causes a
 * conflict with the Tippy tooltip. */
.carbon-switcher .selectr-container {
	width: auto;
}


/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}


/* Tippy
--------------------------------------------- */
.tippy-box {
	background-color: white;
	color: #1E1E1E;
	text-transform: none; 
	letter-spacing: 0;
	text-align: left;
	font-size: 1em;
	padding: 1em 0.75em;
	-webkit-box-shadow: 0px 0px 5px 1px rgba( 87, 87, 87, 0.75);
	-moz-box-shadow: 0px 0px 5px 1px rgba( 87, 87, 87, 0.75);
	box-shadow: 0px 0px 5px 1px rgba( 87, 87, 87, 0.75);
}
.tippy-box a {
	color: var(--hl-colour);
}


/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
}
