/* Variables. 
    Constants we want to use throughout theme.
    Many are also being set in theme.json.
--------------------------------------------- */

$safe-spacing: 1rem;
$clamp-spacing: clamp(0.5rem, 5vw, 3rem);
$max-reading-width: 35rem;
$max-image-width: 48rem;

$text-opacity: 0.8;
$default-font-weight: 400;
$bold-font-weight: 600;
