/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}

/*
Sections
========
*/
body {
  margin: 0; /* Remove the margin in all browsers. */
}

/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  border-color: currentcolor;
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  line-height: 1.7;
  font-family: var(--wp--preset--font-family--body);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role=list], ul[role=list] {
  list-style: none;
  padding-inline: 0;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Colours. 
    Constants we want to use throughout theme.
    Many are also being set in theme.json.
--------------------------------------------- */
/*--------------------------------------------------------------
# Intensity colour scheme variables.
--------------------------------------------------------------*/
:root {
  --logo-colour: #B7410E;
  --bg-colour: #E8E5DC;
  --bg-colour-mid: #D8D1C1;
  --bg-colour-dark: #C8C2B0;
  --text-colour: var(--wp--preset--color--text-colour);
}

/* Variables. 
    Constants we want to use throughout theme.
    Many are also being set in theme.json.
--------------------------------------------- */
/* Typography
--------------------------------------------- */
/* Font definitions
--------------------------------------------- */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Main HTML Elements
--------------------------------------------- */
html {
  font-size: 18px;
}

body {
  background: #fff;
  color: var(--wp--preset--color--body-color);
  font-size: 1rem;
}

p,
address {
  margin-bottom: 1rem;
}

h1, h2, h3, h4 {
  line-height: 1.3;
}

blockquote {
  border-left-width: 7px;
  border-left-style: solid;
  border-left-color: var(--text-colour);
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-top: clamp(0.5rem, 5vw, 3rem);
  margin-bottom: clamp(0.5rem, 5vw, 3rem);
  padding: 1.5rem;
}
@media (min-width: 576px) {
  blockquote {
    font-size: 1.1rem;
  }
}
blockquote cite {
  font-style: normal;
}
blockquote p {
  font-style: italic;
  padding: 0;
}

/* Links
--------------------------------------------- */
a {
  color: var(--wp--preset--color--body-text);
}

a:visited {
  color: #800080;
}

a:hover,
a:focus,
a:active {
  color: #191970;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

/* Other elements.
--------------------------------------------- */
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5rem;
}

ul,
ol {
  margin: 0 0 1.5rem 3rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5rem;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 1.5rem 1.5rem;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1rem 0;
  margin: clamp(0.5rem, 5vw, 3rem) 0;
}

table {
  margin: 0 0 1.5rem;
  width: 100%;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

pre {
  background: #eee;
  font-family: var(--wp--preset--font-family--code);
  max-width: 100%;
  overflow: auto;
  padding: 1.5rem;
}

code,
kbd,
tt,
var {
  font-family: var(--wp--preset--font-family--code);
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Layout. 
    Generic layouts applicable to most pages.
--------------------------------------------- */
.site-header,
.secondary-nav,
.table-of-contents,
.site-main,
.site-footer > div {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-left: clamp(0.5rem, 5vw, 3rem);
  padding-right: clamp(0.5rem, 5vw, 3rem);
}

.site-main {
  margin: 0 auto;
  color: var(--text-colour);
}

.page-content,
.entry-content,
.entry-summary,
article.hentry {
  margin-top: 1rem;
  margin-top: clamp(0.5rem, 5vw, 3rem);
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type=reset],
input[type=submit] {
  border: 1px solid var(--text-colour);
  border-radius: 1rem;
  background: var(--text-colour);
  color: white;
  padding: 1rem 0.5rem;
}

button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  border: 1px solid var(--text-colour);
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type=reset]:active,
input[type=reset]:focus,
input[type=submit]:active,
input[type=submit]:focus {
  border: 1px solid var(--bg-colour-dark);
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: var(--text-colour);
  border: 1px solid var(--text-colour);
  border-radius: 1rem;
  padding: 3px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid var(--text-colour);
}

textarea {
  width: 100%;
}

/* Wp-blocks
    Override default WP block styling.
--------------------------------------------- */
.wp-block-image {
  text-align: center;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
}
.wp-block-image .wp-element-caption {
  font-size: var(--wp--preset--font-size--small);
  opacity: 0.8;
}

.wp-block-gallery .blocks-gallery-grid {
  margin-bottom: 0;
  padding: 0;
}

.wp-block-embed {
  text-align: center;
}

.wp-block-pullquote {
  padding-bottom: 1em;
}

/* Layout. 
    Styling for the header.
--------------------------------------------- */
/* 
   1. Header layout.
   2. Main nav.
   3. Secondary nav (contents bar).
*/
/* 1. Header layout.
--------------------------------------------- */
.site-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 0.5rem;
}

.logo, .site-branding, .site-credit {
  height: 2.6rem;
}

.logo {
  display: none;
}
@media (min-width: 400px) {
  .logo {
    display: flex;
    padding-right: 0.5rem;
  }
}
.logo img {
  min-width: 40px;
}

.site-branding {
  padding-right: 2rem;
}
@media (min-width: 768px) {
  .site-branding {
    padding-right: 3rem;
  }
}
@media (min-width: 1025px) {
  .site-branding {
    padding-right: 5rem;
  }
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-transform: lowercase;
  height: 100%;
  display: flex;
  align-items: center;
}
.site-title a {
  color: var(--text-colour);
  text-decoration: none;
}

.site-description {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.site-credit {
  display: none;
}
@media (min-width: 768px) {
  .site-credit {
    display: block;
    flex: 1 0 0;
  }
}

.site-credit__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.site-credit__image {
  max-width: 150px;
}

/* 2. Main nav.
--------------------------------------------- */
.main-navigation {
  display: block;
  align-self: center;
  height: auto;
}
.main-navigation .menu-main-navigation-container {
  height: 100%;
}
.main-navigation ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}
.main-navigation li {
  position: relative;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
}
.main-navigation li:first-of-type {
  padding-left: 0;
}
.main-navigation li:last-of-type {
  padding-right: 0;
}
@media (min-width: 768px) {
  .main-navigation li {
    padding: 1.5rem;
  }
  .main-navigation li:last-of-type {
    padding-right: 1.5rem;
  }
}
@media (min-width: 1025px) {
  .main-navigation li {
    padding: 2.5rem;
  }
  .main-navigation li:last-of-type {
    padding-right: 2.5rem;
  }
}
.main-navigation li a {
  color: var(--text-colour);
  margin-top: 4px;
  display: block;
  text-decoration: none;
}

/* 3. Secondary nav (contents bar).
--------------------------------------------- */
.secondary-nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  letter-spacing: 0.07em;
}
.secondary-nav img {
  display: inline-block;
}

body {
  position: relative;
}

.blackout {
  background-color: var(--text-colour);
  left: -100%;
  opacity: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  z-index: 1;
}

.blackout-active {
  display: block;
  left: 0;
  opacity: 25%;
}

.blackout-fading {
  opacity: 0%;
}

.nav-contents p {
  margin: 0;
}
.nav-contents p, .nav-contents a.more-link {
  text-transform: uppercase;
}
.nav-contents p img {
  margin-right: 0.5em;
  margin-bottom: -0.1em;
}
.nav-contents a {
  color: var(--text-colour);
  text-decoration: none;
}

.table-of-contents {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.5s;
  z-index: 2;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  line-height: 1.7;
}
.table-of-contents-active {
  transform: translateX(0);
}
.table-of-contents h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.table-of-contents p {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.table-of-contents a {
  text-decoration: none;
}

/* Entry Content 
    Generic styles for blog or page content
    aka the_post.
--------------------------------------------- */
.hentry {
  padding-bottom: clamp(0.5rem, 5vw, 3rem);
}

.entry-header {
  max-width: 35rem;
  margin-left: 0;
}

.entry-meta {
  font-style: italic;
}
.entry-meta .author {
  opacity: 0.8;
}

.entry-content p, .entry-content ul, .entry-content ol,
.entry-content blockquote,
.entry-content figcaption,
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;
}
.entry-content ul, .entry-content ol {
  margin: 0 auto 1.5em;
  padding: 0 3em;
}
.entry-content figcaption {
  text-align: center;
}
.entry-content a.more-link {
  display: block;
  text-align: center;
  text-decoration: none;
  position: relative;
  padding: 1em 0;
}
.entry-content a.more-link::before {
  content: "";
  position: absolute;
  width: 8%;
  height: 1px;
  bottom: 3.5em;
  left: 46%;
  border-bottom: 2px solid;
}
.entry-content h2, .entry-content h3, .entry-content h5 {
  margin: 3rem auto 1.5rem;
  position: relative;
}
.entry-content h4 {
  margin: 0 auto 1rem;
}

/* Layout. 
    Styling for the footer.
--------------------------------------------- */
.site-footer {
  padding-top: 2rem;
}
.site-footer a, .site-footer a span {
  color: var(--wp--preset--color--body-colour);
  text-decoration: none;
}
.site-footer > div:last-of-type {
  margin-bottom: 0;
  padding: 2rem;
}

.footer-nav {
  margin-top: 1.5em;
}

@media screen and (min-width: 37.5em) {
  .footer-nav {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 782px) {
  .site-footer .wp-block-navigation__container {
    justify-content: center;
  }
}
/* The parts that change for the GAW variations. 
    These are all in one place so easy to see what we're doing.
--------------------------------------------- */
/* Colour stuff.
--------------------------------------------- */
body[data-gaw-mode=low] {
  --bg-colour: #E6F1E4;
  --bg-colour-mid: #DFEBDC;
  --bg-colour-dark: #D0DECD;
}
body[data-gaw-mode=moderate] {
  --bg-colour: #FAF1E7;
  --bg-colour-mid: #F3E7DA;
  --bg-colour-dark: #E6D9CB;
}
body[data-gaw-mode=high] {
  --bg-colour: #F4E0DA;
  --bg-colour-mid: #F5D5CB;
  --bg-colour-dark: #EBCDC3;
}

body,
.table-of-contents {
  background-color: var(--bg-colour);
}

.site-footer {
  background-color: var(--bg-colour-mid);
}
.site-footer > div:last-of-type {
  background-color: var(--bg-colour-dark);
}

/* Image stuff.
--------------------------------------------- */
.entry-content .wp-block-image figure span,
.entry-content figure.wp-block-image span,
.entry-content li.blocks-gallery-item span {
  position: relative;
  background-color: var(--bg-colour-dark);
  z-index: 0;
  cursor: pointer;
}

div.show-image {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
  z-index: -1;
}

@media screen and (max-width: 782px) {
  div.show-image {
    font-size: 0.7rem;
  }
}
div.carbon-alt {
  font-style: italic;
  line-height: 1.3;
  position: absolute;
  padding: 5%;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 37.5em) {
  body:not(.page-id-675) div.carbon-alt {
    width: 80%;
    left: 10%;
  }
  body:not(.page-id-675) div.carbon-alt:not(figure.wp-block-gallery *) {
    font-size: 2em;
  }
}
/* Hide all images by default. How they appear depends on carbon intensity.
 * (Except for specifically whitelisted images and placeholders.) */
.entry-content figure.wp-block-image:not(.no-carbon) img:not(.branch-placeholder-image),
.entry-content .wp-block-image figure:not(.no-carbon) img:not(.branch-placeholder-image) {
  display: none !important;
}

/*# sourceMappingURL=theme.css.map */
