/* Layout. 
    Styling for the footer.
--------------------------------------------- */

.site-footer {
	padding-top: 2rem;

    a, a span {
	    color: var(--wp--preset--color--body-colour);
	    text-decoration: none;
    }

	> div:last-of-type {
		margin-bottom: 0;
		padding: 2rem;
	}
}

.footer-nav {
	margin-top: 1.5em;
}
@media screen and (min-width: 37.5em) {
	.footer-nav {
		margin-top: 0;
		display: flex;
		align-items: center;
	}
}
@media screen and (max-width: 782px) {
	.site-footer .wp-block-navigation__container {
		justify-content: center;
	}
}