/* Home. 
    Customisations just for the site homepage.
--------------------------------------------- */

.home {

    .entry-content {
        > *:first-child {
            margin-top: $safe-spacing; // fallback.
            margin-top: $clamp-spacing;
        }

        .wp-block-columns {
            column-gap: 3rem;
        }
    }
}